.forum-item-container {
    width: 1000px;
    align-content: center;
    float: right;
}
.forum-item-topic {
    width: 70%;
    text-align: center;
    float: left;
}
.forum-item-type {
    width: 10%;
    float: left;
    text-align: center;
}
.forum-item-replies {
    width: 10%;
    float: left;
    text-align: center;
}
.forum-item-credits {
    float: left;
    width: 10%;
}
.forum-item-author {
    text-align: center;
    width: 100px;
}
.forum-item-date {
    text-align: center;
    width: 100px;
}